<h2>Create a New Author</h2>

<form action="/authors" method="post">
	<label for="author[first_name]">First Name</label>
	<input type="text" name="author[first_name]">
	<label for="author[last_name]">Last Name</label>
	<input type="text" name="author[last_name]">
	<input type="submit">
</form>
