<h3>What do you want to do?</h3>

<a href="/authors/new">Create a new author</a> <br>
<a href="/authors">See all authors</a> <br>
<a href="/articles/new">Create a new article</a> <br>
<a href="/articles">See all articles</a>
